<div class="login-form-container">
  <h1 mat-dialog-title>Login</h1>
  <mat-dialog-content>
    <form [formGroup]="loginForm">
      <div class="login-form-fields">
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput type="text" id="loginUsername"
                 formControlName="username"
                 placeholder="Username">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput type="password" id="loginPassword"
                 formControlName="password"
                 placeholder="Password">
        </mat-form-field>
      </div>
      <mat-dialog-actions align="end">
        <button mat-raised-button color="primary" [disabled]="!loginForm.valid" data-dismiss="modal"
                (click)="login(loginForm)">Login
        </button>
      </mat-dialog-actions>
    </form>
  </mat-dialog-content>
</div>
