<app-navbar> </app-navbar>

<!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color:white;">Account Manager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
          aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <button class="btn btn-secondary" data-toggle="modal" data-target="#addAccountModal">Add Account
          <span class="sr-only">(current)</span>
        </button>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input type="text" name="search" id="searchName" [(ngModel)]="searchText" class="form-control mr-sm-2"
             placeholder="Search account..." required>
      <button class="btn btn-secondary" data-toggle="modal" data-target="#loginModal"> Login</button>
    </form>
  </div>
</nav>
</div> -->
