.account-form-container mat-form-field + mat-form-field {
  margin-left: 8px;
}

.account-form-container mat-form-field {
  width: 220px;
}

.account-form-container form {
  margin-bottom: 20px;
}

.account-form-container form > * {
  margin: 12px 0;
}

.account-form-container .mat-radio-button {
  margin: 0 12px;
}

.account-form-fields {
  display: flex;
  align-items: flex-start;
}
